#camera,#result{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
body{
    background: linear-gradient(aquamarine,blueviolet);
}
.heading{
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 10px;
}
label{
    background-color: white;
    padding: 6px;
    border-radius: 10px;
}